.runner {
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    position: absolute;
    transition: left var(--runner-animation-time) ease, top var(--runner-animation-time) ease;
    z-index: 1;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 20px;
}

#scoreboard {
    text-align: center;
    margin-top: 20px;
}

#scoreboard h2 {
    font-size: 2rem;
    margin: 10px 0;
}

#container {
    display: flex;
    height: 100vh; /* Full viewport height */
}

#left-panel, #right-panel {
    flex: 1; /* Each side takes equal space on screen */
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    box-sizing: border-box;
}

#left-panel {
    background: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#timer-container {
    min-height: 20px;
    width: 100%;
    height: 20px;
    background: #ddd;
    border: 1px solid #000000;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}

#timer-bar {
    min-height: 16px;
    height: 100%;
    background: #76c7ac;
    width: 100%;
    transition: width 0.1s linear, background-color 0.2s linear;
    border-radius: 6px;
}   

.controls{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px 0px; /* Space above and below */
}

.controls button,
.controls select {
    flex-shrink: 0; /* Prevent buttons from shrinking */
}

@keyframes flash-red {
    0% {box-shadow: 0 0 10px 2px rgba(255, 0, 0, 0.4);}
    50% {box-shadow: 0 0 10px 4px rgba(255,0,0,0.9);}
    100% {box-shadow: 0 0 10px 2px rgba(255,0,0,0.4);}

}

#timer-container.warning-flash {
    animation: flash-red 1s ease-in-out infinite;
}

#menu-screen, #game-over-screen, #settings-screen {
    text-align: center;
    padding: 20px;
}